<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="about-the-fusion-fable mt-5 mb-5">
        <h1> About the Fusion Fable </h1>
        <p> This page is a portfolio of the web apps I have built myself and with team mates.</p>
        <h3> About me </h3>
        <p> I'm Milena, a product manager professional based in Paris, France. </p>
        <p> I am building web apps to practice, improve my coding skills and build something fun. </p>
        <p> I've learned to code full-stack at Le Wagon's web dev bootcamp end of 2024 ! </p>
        <p> -- I code in Ruby on Rails, HTML, CSS, JavaScript, Python and SQL -- </p>
        <p> Feel free to reach out to me on <a href="https://www.linkedin.com/in/milena-arms/">LinkedIn</a> or check out my Github on <a href="https://github.com/The-Milena">GitHub</a> ! </p>
      </div>
    </div>
  </div>
</div>
