<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="data-policy-content mt-5 mb-5">
        <h1> Hello <%= @user.first_name %> !</h1>
        <p> Your profile page is work in progress . Please be patient for some updates ! </p>
      </div>
    </div>
  </div>
</div>

